.avatar{
	border-radius: 50%;
	width:125px;
	align-items: center;
	text-align:center;
	

}

.avatar:hover{
	opacity: 0.3;


}

.avatar-banner{
    display:flex;
    margin:auto;
    }

.avatar-banner h1{
	margin-top: 25px;
}