.button{
	text-decoration: none;	
	text-align: center;
	color:white;
	background-color:#ED5E68;
	border-radius: 15px;
	display:block;
	justify-content: center;
	display: block;
	width:200px;
	padding:20px;
	margin:auto;
	box-shadow: 0 4px 6px rgba(50,50,93,.11);

	
}




.button:hover {
	text-decoration: none;

	opacity: 0.7;
}

.button-nav{
	text-align: center;
	border-radius: 20px;
	background-color: #E2E7EF;
	color:#230903;
	width:50px;
	padding:20px;
	border: 1px solid #F8FAFB;
	flex:auto;
	border-right: 2px solid;
	padding-right: : 0.2em;
}

.button-nav:hover {
	text-decoration: none;
	color:#f25757;
	opacity: 0.4;
}

	

