.sociallinks{
    justify-content: center;
    width:200px;
    font-size: 50px;
    margin:auto;
}

.sociallinks2{
    width:200px;
    font-size: 50px;
    margin-left:0px
    


}

.sociallinks2:hover{

}

#twit{
  color:#1DA1F2;
 
}

#insta{
  color:#000000;
  
}

#fm{
  color:#B90000;
  opacity: 7;
}

#twit:hover{
  opacity: 0.7;
 
}

#insta:hover{
  opacity: 0.5;
  
}

#fm:hover{
  opacity: 0.5;
}