.sociallinks{
    justify-content: center;
    width:200px;
    font-size: 50px;
    margin:auto;
}

.sociallinks2{
    width:auto;
    font-size: 50px;
    margin-left:0px
    


}


#twit:hover{
  color:#1DA1F2;
 
}

#insta:hover{
  color:#000000;
  
}

#fm:hover{
  color:#BA0000;
  
}

#twit{
  opacity: 0.9;
 
}

#insta{
  opacity: 0.5;
  
}

#fm{
  opacity: 0.5;
}