@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url("button.css");
@import url("social.css");
@import url("avatar.css");
@import url("navbar.css");
@import url("card.css");



.back {
background-image: url("../images/im4.jpg");
background-size: cover;
background-position: center;
color:#0b0500;
height:100vh;

}

.aside {
  flex: 0 0 200px;
  height: 100vh;
  background: rgba(249, 249, 249, 1.00);
  flex-direction: column;
  width:auto;
  font-size: 20px;
}

.aside a:hover{
  text-decoration: none;
  color:#ED5E68; 
}

.main-container {
  display: flex;
  
}


.footer{
  width:auto;
  font-family: 'Slabo 27px', serif;
  text-align: center;
  background-color: #fed766;
  
}
.container-body{
  
  height:auto;
  width:auto;
  font-family: Oswald;
  display:flex;
  justify-content: space-between;
  padding-right: 200px;
  flex-wrap: wrap;
}

.banner{
  width:auto;
  height:auto;
  background-color:#E4E7F0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family:'Oswald';
  box-shadow: 0px -2px 10px rgba(0,0,0,0.3);

  
}

.info{
	justify-content: center;
	text-align: center;

	margin-top: 150px;
	color:#56AA00;

}

.info2{
  justify-content: center;
  text-align: center;

  margin-top: 100px;
  

}

.info2 a{
  color:#f25757;

}

.info2 a:hover{
  text-decoration: none;
  opacity:0.7;
}

.large-container{
  background-size: cover ;
  background-position: center;
  font-family: 'Slabo 27px', serif;
  width: auto;
  height:auto;
  font-size: 20px;
}




@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px){
  .container {
    width: 500px;
  }
}

@media (max-width: 480px){
  .container{
    width:350px;
}


@media (max-width: 992px) {
  .large-container {
    width: 700px;
  }
}

@media (max-width: 768px){
  .large-container{
    width: 500px;
  }
}

@media (max-width: 480px){
  .large-container{
    width:350px;

