@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url("button.css");
@import url("social.css");
@import url("avatar.css");
@import url("navbar.css");
@import url("card.css");



.back {
background-image: url("../images/im4.jpg");
background-size: cover;
background-position: center;
color:#0b0500;
height:100vh;

}

.container{
margin:0 auto;
width: 900px;
justify-content: center;
font-family: Oswald;

}

.container-body{
  background-size: cover;
  background-position: center;
  background-image: url(../images/im6.jpg);
  height:auto;
  width:auto;
  font-family: Oswald;
  display:flex;
  justify-content: space-between;
  padding-right: 200px;
}

.banner{
  width:1500px;
  height:120px;
  background-color:#999999;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.3);

  
}

.info{
	justify-content: center;
	text-align: center;

	margin-top: 150px;
	color:#56AA00;

}

.info2{
  justify-content: center;
  text-align: center;

  margin-top: 100px;
  color:#797a9e;

}






@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px){
  .container {
    width: 500px;
  }
}

@media (max-width: 480px){
  .container{
    width:350px;
}


@media (max-width: 992px) {
  .container-body {
    width: 700px;
  }
}

@media (max-width: 768px){
  .container-body {
    width: 500px;
  }
}

@media (max-width: 480px){
  .container-body{
    width:350px;

